.buttonsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  width:70px;
  height: 55px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 20px;
}